@font-face {
  font-family: "Neue Montreal";
  src: url("/fonts/NeueMontreal.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --vw: 1440;
  --multiplier: 100vw;
  --background: #ece9e4;
  --text: #020403;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background);
  font-family: "Neue Montreal", sans-serif;
  width: 100%;
}

::-webkit-scrollbar {
  display: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

ul,
ol {
  list-style: none;
}

canvas {
  width: 100%;
  height: 100%;
  display: block;
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 500;
}

.header {
  position: fixed;
  width: 100%;
  padding: calc(18 / var(--vw) * var(--multiplier));
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  top: 0;
  left: 0;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--text);
  color: var(--background);
  width: 40%;
  padding: calc(12 / var(--vw) * var(--multiplier))
    calc(14 / var(--vw) * var(--multiplier));
  border-radius: 5px;
}

.nav__title {
  font-size: calc(18 / var(--vw) * var(--multiplier));
  text-transform: capitalize;
}

.nav__text {
  font-size: calc(14 / var(--vw) * var(--multiplier));
  padding: calc(8 / var(--vw) * var(--multiplier))
    calc(12 / var(--vw) * var(--multiplier));
}

.main__wrapper {
  padding-block: calc(120 / var(--vw) * var(--multiplier));
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
}

.main__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5vw;
}

.list__item {
  width: 30%;
  aspect-ratio: 5 / 7;
}

.item__image__wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.item__image__wrapper.gl {
  opacity: 0;
}

@media screen and (max-width: 768px) {
  .nav {
    width: 70%;
    padding: calc(22 / var(--vw) * var(--multiplier))
      calc(24 / var(--vw) * var(--multiplier));
  }

  .nav__title {
    font-size: calc(38 / var(--vw) * var(--multiplier));
  }

  .nav__text {
    font-size: calc(24 / var(--vw) * var(--multiplier));
    padding: calc(12 / var(--vw) * var(--multiplier))
      calc(16 / var(--vw) * var(--multiplier));
  }

  .main__wrapper {
    padding-block: calc(175 / var(--vw) * var(--multiplier));
  }

  .list__item {
    width: 70%;
  }
}
