<header class="header">
  <nav class="nav">
    <a href="/" class="nav__link">WebGL</a>
    <h1 class="nav__title">balss</h1>
    <a href="/canvas-api" class="nav__link">Canvas API</a>
  </nav>
</header>
